
.movieDetails {
    &__overlay {
        opacity: .2;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5)!important;
        z-index: -1;
        cursor: pointer;
        img {
            width: 100%;
            overflow: hidden;
            opacity: .7;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5)!important;
            z-index: -1;
            cursor: pointer;
        }
    }
    &__container {
        margin: 45px 0;
    }
    h1 {
        font-size: 48px;
        text-align: center;
    }
    h2 {
        font-size: 34px;
    }
    h3 {
        color: white!important;
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    img {
        width: 100%;
        margin: center;
    }
    .ant-row .ant-row-center .ant-row-top {
        margin: 0!important;
    }
    .ant-row-center {
            margin: 0!important;
    }
    figure {
        display: flex;
        justify-content: start;
        .action svg {
            margin: 50px;
        }
        img {
            width: 40px;
            height: 30px;
        }
    }
}
