

.topNav {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    img {
        width: 200px;
        margin-top: 20px;
    }
    ul {
        display: flex;
        justify-content: start;
        li {
            list-style: none;
            a {
                color: lightgray!important;
                text-decoration: none;
            }
        }
    }
}




