
.searchMovieContainer {
    .movieCard{
        section {
            height: 150px;
        }
    }
    input {
        width: 99%;
        overflow: hidden;
        margin: 30px auto;
        height: 40px;
        color: black!important;
    }
}