
.homeMovieContainer {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    .desktop {
        h2 {
            font-size: 40px;
            margin-top: 100px;
            position: inherit;
            // position: absolute;
            // top: 45%;
            // -ms-transform: translateY(-50%);
            // transform: translateY(-50%);
        }
    }
    .mobile {
        display: none;
    }
    img {
        width: 100%;
    }
    a:link {
        text-decoration: none;
    }
    .movieImage {
        width: 100%;
        text-align: center;
        figure {
            display: flex;
            justify-content: center;
            p{
                font-size: 20px;
                margin: 0;
            }
            img {
                width: 40px;
                height: 30px;
            }
        }
    }
}

@media (max-width: 575px) {
    .homeMovieContainer {
        .desktop {
            display: none;
        }
        .mobile {
            display: inline-block;
        }
    }
  }
